.date-list {
  padding: 30px;
}

.date-list li {
  list-style: none;
}

.calendar {
  display: inline-block;
  height: 200px;
  margin: 10px;
  padding: 10px;
}

.calendar input {
  width: 100%;
}

.calendar .nav {
  text-align: center;
}

.calendar .nav .nav-month {
  display: inline-block;
  width: calc(100% - 60px);
  border-bottom: 1px solid black;
}

.calendar .nav-button {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 2px;
  line-height: 10px;
  margin-top: 5px;
  -webkit-user-select: none;
}

.calendar .nav-button.left {
  margin-right: 3px;
}

.calendar .nav-button.right {
  margin-left: 3px;
}

.calendar .table {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  padding: 3px;
}

.calendar table {
  border-spacing: 0;
}

.calendar td {
  text-align: center;
  background: #ccc;
  color: #808080;
}

.calendar td.disabled-day {
  color: #222;
}

.calendar td.current-month {
  font-weight: bold;
  color: black;
}

.calendar td.current-month .day {
  cursor: pointer;
}

.calendar tr {
  background: #aaa;
}

.calendar thead th {
  padding: 2px;
  border-left: 1px solid black;
  width: 45px;
}

.calendar thead th:first-child {
  border-left: none;
}
